.app {
  /* background: #efeeed; */
  height: 100vh;
}
h1 {
  display: inline-block;
  margin-top: 5px;
}

/* <Link> is turned into <a> when compiled in HTML. */
a {
  text-decoration: none;
  color: #222;
}

.article-section {
  background-color: rgb(123, 204, 207);
  border-radius: 10px;
  overflow-x: hidden;
  margin: 4vh 4vw;
}
.article-img {
  max-width: 25vw;
  margin: 1vh;
  border-radius: 10px;
}
.article-img.full {
  max-width: 30vw;
}
.articles-list {
  margin: 2em;
  min-height: 30vh;
  border-radius: 10px;
}
.article-segment {
  display: flex;
  width: 90vw;
}

.button-link {
  display: block;
  color: #222;
  text-decoration: none;
  width: max-content;
  min-width: 180px;
  margin: 0.5em auto;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  background: lightblue;
}

.comments-form, .comments-section>.comments {
 margin: 1em 3em;
 width: 30vw;
}
input {
  margin: 0 1.5em 0 2px;
}
label, .comments {
  font-size: 0.7em;
}
.comments {
  background: rgb(21, 164, 212);
  border-radius: 5px;
  padding: 5px;
}
.comments-form>label {
  display: block;
}